{
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "tailwindFunctions": ["clsx"],
  "tailwindStylesheet": "./src/Index.css",
  "plugins": ["prettier-plugin-tailwindcss"]
}
