@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: 'Mona Sans', sans-serif;
}

section {
  width: 100dvw;
}

@theme {
  --font-sans: 'Mona Sans', sans-serif;
  --color-accent: #2cfb97;
}

@layer utilities {
  .padding-x {
    @apply px-5 md:px-12;
  }
}

@layer components {
  .arrow-button {
    @apply relative flex cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-accent/20 px-4 py-4 backdrop-blur-lg;

    .bg-circle {
      @apply absolute top-1/2 -right-10 h-[120%] w-[120%] origin-center -translate-y-1/2 rounded-full bg-accent transition-all duration-500 group-hover:right-10 group-hover:size-10;
    }

    .text {
      @apply -translate-x-5 text-black uppercase transition-all duration-500 group-hover:-translate-x-5 group-hover:text-accent md:text-lg xl:translate-x-0;
    }

    .arrow-wrapper {
      @apply absolute top-1/2 right-10 flex size-10 -translate-y-1/2 items-center justify-center overflow-hidden rounded-full group-hover:bg-accent;

      img {
        @apply size-5 translate-y-0 animate-bounce transition-all duration-500 group-hover:translate-y-0 xl:-translate-y-32;
      }
    }
  }

  .hero-grid {
    @apply absolute inset-0;
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, #2cfb9733 1px, transparent 1px),
      linear-gradient(to bottom, #2cfb9733 1px, transparent 1px);
  }

  .hero-text {
    @apply pointer-events-none relative z-10 flex flex-col justify-center text-center text-[30px] font-semibold md:text-[48px] xl:text-7xl;
    img {
      @apply size-8 object-contain md:size-10;
    }
    .slide {
      @apply absolute h-[48px] translate-y-0 overflow-hidden px-2 py-[30px] pt-0 md:h-[66px] md:translate-y-1 md:px-5;
    }
  }

  .hero-3d-layout {
    @apply absolute top-24 right-0 h-full min-h-[50vh] w-full xl:top-80 xl:left-1/2 xl:w-[70%] xl:-translate-x-1/2;
  }

  .simple-button {
    @apply flex items-center justify-center rounded-full bg-accent px-6 py-4 text-black transition-all duration-300 hover:bg-accent/70;
  }
}
