@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: 'Mona Sans', sans-serif;
  margin: 0;
  padding: 0;
}

section {
  width: 100dvw;
}

@property --start {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --font-sans: 'Mona Sans', sans-serif;
  --color-accent: #2cfb97;
}

@layer utilities {
  .padding-x {
    @apply px-5 md:px-12;
  }
}

@layer components {
  .page {
    @apply relative z-[3];
  }

  .canvas-container {
    @apply fixed top-0 left-0 z-[2] h-full w-full;
  }

  .arrow-button {
    @apply relative flex cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-accent/40 px-4 py-4 backdrop-blur-lg;

    .bg-circle {
      @apply absolute top-1/2 -right-10 h-[120%] w-[120%] origin-center -translate-y-1/2 rounded-full bg-accent transition-all duration-500 group-hover:right-10 group-hover:size-10;
    }

    .text {
      @apply -translate-x-5 text-black uppercase transition-all duration-500 group-hover:-translate-x-5 group-hover:text-accent md:text-lg xl:translate-x-0;
    }

    .arrow-wrapper {
      @apply absolute top-1/2 right-10 flex size-10 -translate-y-1/2 items-center justify-center overflow-hidden rounded-full group-hover:bg-accent;

      img {
        @apply size-5 translate-y-0 animate-bounce transition-all duration-500 group-hover:translate-y-0 xl:-translate-y-32;
      }
    }
  }

  .dot-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .dot-grid__wrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  .dot-grid__canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
  }

  .text-type {
    display: inline-block;
    white-space: pre-wrap;
  }

  .text-type__cursor {
    margin-left: 0.25rem;
    display: inline-block;
    opacity: 1;
  }

  .text-type__cursor--hidden {
    display: none;
  }

  .hero-text {
    @apply pointer-events-none relative z-10 flex flex-col justify-center text-center text-[30px] font-semibold md:text-[48px] xl:text-8xl;
    img {
      @apply size-8 object-contain md:size-10;
    }
    .slide {
      @apply absolute h-[48px] translate-y-0 overflow-hidden px-2 py-[30px] pt-0 md:h-[66px] md:translate-y-1 md:px-5;
    }
  }

  .hero-3d-layout {
    @apply absolute top-24 right-0 h-full min-h-[50vh] w-full xl:top-80 xl:left-1/2 xl:w-[70%] xl:-translate-x-1/2;
  }

  .simple-button {
    @apply flex items-center justify-center rounded-full bg-accent px-6 py-4 text-black transition-all duration-300 hover:bg-accent/70;
  }
}

.glass-card {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
}

.glass-card::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: 2px solid transparent;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)) border-box;
  mask:
    linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}
